<!DOCTYPE html>
<html lang ="en">
    <head>
        <title>about</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/indexstyles.css">
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/about.css">
    </head>
    <body>
         <% include partials/header %>

        <main>

            <div class="aboutContainer">
                <h2 id="aboutHead">  Charlotte Sports Community connects people</h2>
                <p class="aboutContent">  Charlotte Sports Community is an organization formed by individuals with a common interest
                    in a particular sport or recreational <br> activity. Members gain valuable learning experience through
                    their involvement in the organization,leadership, administration, <br>scheduling, fundraising,
					public relations, and skills development.</p>
        		<p class="aboutContent"><b>This is the best place where you can meet with people who share your interests</b></p>
            </div>
        </main>

		<% include partials/footer %>
    </body>
</html>
