<!DOCTYPE html>
<html lang ="en">
    <head>
        <title>Contact Us</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/indexstyles.css">
		<link rel="stylesheet" type="text/css" href="../assets/stylesheets/contact.css">
    </head>
    <body>
         <% include partials/header %>

        <main>
            <div class="contactContainer">
              <h3 id="contactHeader">We are here to help you!! </h3>
              <p> <b>Get in touch with us at </b><br><br>
              <p> <b>Phone Number: </b> +1 12345678 <br>
                  <b>Address : </b> 1441 Briarfield Drive, Charlotte <br>
                  <b>Available Timings: </b> Mon-Fri, 10:00 AM- 06:00 PM </p>

            </div>
        </main>

		<% include partials/footer %>
    </body>
</html>
