<!DOCTYPE html>
<html lang ="en">
  <head>
    <title>Error</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/error.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/indexstyles.css">


  </head>
  <body>
    <% include partials/header %>
    <main class="errorpage">
      <div>
        <p id="msg">  Please <i>login</i> to access the connections or required page </p>
        <p id="msg"> Have a look over <a href="/connections"> Connections Page </a> to know more about the events</p>
    </div>
    </main>
    <% include partials/footer %>
  </body>
</html>
