<!DOCTYPE html>
<html lang ="en">
    <head>
        <title>Sports</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/stylesheets/indexstyles.css">
    </head>
    <body>
        <% include partials/header %>
        <main>
            <div class="homeDescriptionContainer">
                <h2 id="welcome"> Welcome !!</h2>

                <p id="pheader" ><b>Interested to participate in sports??</b></p>
              <div class="imageContainer">
                <img src="../assets/images/games.png" alt="image2"/>
                 </div>
                <div>
                    <p id="content">The Charlotte Sports community program provides members of Charlotte with the opportunity <br>
                        to participate in a variety of competitive, instructional, and recreational sports. It helps<br>
                                    to connect people with common interests. It promotes healthy lifestyles through exceptional <br>
                                    recreational programs, services and facilities.<br> <br>
                                    You can check out the Connections section to browse available Connections!

                </div>

                <h3 id='info'> Who we are? </h3>
                <p id="dvContentAd">  Charlotte sports community is an organization formed by individuals with a common interest
                    in a particular sport or recreational <br> activity. Members gain valuable learning experience through
                    their involvement in the organization,leadership, administration, <br>scheduling, fundraising,
                    public relations, and skills development.</p>
            </div>
        </main>

      <aside>

            <h2> Hurry up!! </h2>
            <p>Join the Charlotte's fastest growing sports community where you can connect with people who are interested in something you like</p>

        </aside>
        <% include partials/footer.ejs%>

    </body>
</html>
