#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 #s-Image_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-050678c8-976c-4d3f-acef-51bdf9d84ba9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}