#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Label {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Panel_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0edd48fc-8c9f-4c34-b312-e13042a81790 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}