#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 136px;
  -ms-transform: rotate(0.0deg);
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Label {
  -ms-transform: rotate(0.0deg);
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Button-blue_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 136px;
  -ms-transform: rotate(0.0deg);
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}