#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Input_2 INPUT {
  font-family: Arial;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1de9f0f5-5e80-46fe-938f-a8426948d045 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}