#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Image_12 {
  -ms-transform: rotate(180.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Button-blue_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 136px;
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}