#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Image_12 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Input_8 INPUT {
  font-family: Arial;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Input_9 INPUT {
  font-family: Arial;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-344deeef-ff15-4524-9c69-977d638d8bd9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}