#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}