#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Label {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-42903d66-0c85-4446-aa3c-cde6e8fb9d0b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}