#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5262504f-3583-473c-b5e2-5eb0e8024973 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}