#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Button-blue_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Button-blue_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Button-blue_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Button-blue_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 81px;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5d7ea5d0-1aa2-4c9a-be3e-da9444e9f665 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}