#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30) ;
  filter: alpha(opacity=30) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}