#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 21px 21px 21px 21px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_105 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Main_icons {
  border-collapse: separate;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Cell_7 > .valign {
  vertical-align: middle;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-774e3a89-095b-4e86-8c16-696a290e0f68 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}