#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Top_Bar-3 {
  position: absolute;
  width: 375px;
  height: 113px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #6ACCCB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Rectangle_6 {
  position: absolute;
  width: 0px;
  height: 113px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Rectangle_6 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Rectangle_6 > .paddingLayer {
  height: 112px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_11 {
  position: absolute;
  width: 210px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_11 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_11 > .paddingLayer {
  height: 42px;
  width: 210px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_11 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_12 {
  position: absolute;
  width: 63px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_12 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_12 > .paddingLayer {
  height: 22px;
  width: 63px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_12 span {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Image_3 {
  position: absolute;
  width: 63px;
  height: 62px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Image_3 > img, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Image_3 > svg {
  height: 62px;
  width: 63px;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_1 {
  width: 375px;
  height: 694px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 375px;
  height: 694px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_2 {
  width: 373px;
  height: 72px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 373px;
  height: 72px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_1 {
  position: absolute;
  width: 373px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_1 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_1 > .paddingLayer {
  height: 70px;
  width: 373px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_1 span#rtr-s-Button_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_1 > .shapert-clipping {
  width: 19px;
  height: 15px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_1 .content {
  text-shadow: none;
  width: 19px;
  height: 15px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_1 {
  position: absolute;
  width: 19px;
  height: 15px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_1 {
  width: 19px;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_3 {
  width: 373px;
  height: 214px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 373px;
  height: 214px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_4 {
  position: absolute;
  width: 373px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_4 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_4 > .paddingLayer {
  height: 70px;
  width: 373px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_4 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_4 span#rtr-s-Button_4_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 {
  position: absolute;
  width: 277px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 span {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 span#rtr-s-Paragraph_3_2 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 span#rtr-s-Paragraph_3_3 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_2 > .shapert-clipping {
  width: 19px;
  height: 15px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_2 .content {
  text-shadow: none;
  width: 19px;
  height: 15px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_2 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_2 {
  position: absolute;
  width: 19px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_2 {
  width: 19px;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_2 span#rtr-s-Triangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_4 {
  width: 373px;
  height: 71px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_4 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 373px;
  height: 71px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_7 {
  position: absolute;
  width: 373px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_7 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_7 > .paddingLayer {
  height: 80px;
  width: 373px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_7 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_7 span#rtr-s-Button_7_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_6 > .shapert-clipping {
  width: 19px;
  height: 15px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_6 .content {
  text-shadow: none;
  width: 19px;
  height: 15px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_6 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_6 {
  position: absolute;
  width: 19px;
  height: 15px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_6 {
  width: 19px;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_6 span#rtr-s-Triangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_5 {
  width: 373px;
  height: 328px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_5 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 373px;
  height: 328px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 {
  position: absolute;
  width: 350px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 span {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 span#rtr-s-Paragraph_8_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 span#rtr-s-Paragraph_8_2 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 span#rtr-s-Paragraph_8_3 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 span#rtr-s-Paragraph_8_4 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 span#rtr-s-Paragraph_8_5 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_7 > .shapert-clipping {
  width: 19px;
  height: 15px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_7 .content {
  text-shadow: none;
  width: 19px;
  height: 15px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_7 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_7 {
  position: absolute;
  width: 19px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_7 {
  width: 19px;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_7 span#rtr-s-Triangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_8 {
  position: absolute;
  width: 373px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_8 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_8 > .paddingLayer {
  height: 70px;
  width: 373px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_8 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_8 span#rtr-s-Button_8_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_8 > .shapert-clipping {
  width: 19px;
  height: 15px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_8 .content {
  text-shadow: none;
  width: 19px;
  height: 15px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_8 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_8 {
  position: absolute;
  width: 19px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_8 {
  width: 19px;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_8 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_8 span#rtr-s-Triangle_8_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_9 {
  position: absolute;
  width: 373px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_9 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_9 > .paddingLayer {
  height: 70px;
  width: 373px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_9 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_9 span#rtr-s-Button_9_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_3 > .shapert-clipping {
  width: 19px;
  height: 15px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_3 .content {
  text-shadow: none;
  width: 19px;
  height: 15px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_3 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_3 {
  position: absolute;
  width: 19px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_3 {
  width: 19px;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_3 span#rtr-s-Triangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_6 {
  width: 373px;
  height: 72px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_6 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 373px;
  height: 72px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_10 {
  position: absolute;
  width: 373px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_10 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_10 > .paddingLayer {
  height: 70px;
  width: 373px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_10 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_10 span#rtr-s-Button_10_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_9 > .shapert-clipping {
  width: 19px;
  height: 15px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_9 .content {
  text-shadow: none;
  width: 19px;
  height: 15px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_9 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_9 {
  position: absolute;
  width: 19px;
  height: 15px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_9 {
  width: 19px;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_9 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_9 span#rtr-s-Triangle_9_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_7 {
  width: 373px;
  height: 294px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_7 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 373px;
  height: 294px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_11 {
  position: absolute;
  width: 373px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_11 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_11 > .paddingLayer {
  height: 70px;
  width: 373px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_11 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_11 span#rtr-s-Button_11_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_7 {
  position: absolute;
  width: 349px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_7 > .clipping, #s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_10 > .shapert-clipping {
  width: 19px;
  height: 15px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 19px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_10 .content {
  text-shadow: none;
  width: 19px;
  height: 15px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_10 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_10 {
  position: absolute;
  width: 19px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_10 {
  width: 19px;
  height: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #434343;
  background-image: none;
  box-shadow: none;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_10 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #shapewrapper-s-Triangle_10 span#rtr-s-Triangle_10_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}