#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_1 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_6 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_9 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}