#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_1 {
  -ms-transform: rotate(180.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_6 {
  -ms-transform: rotate(180.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_8 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_10 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_9 {
  -ms-transform: rotate(180.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Button_11 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb #s-Triangle_10 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-97b154a2-a5b0-4b4b-b386-ecf12da9edfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}