#s-9817ea0e-007b-4cef-bb66-aec748210623 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Dynamic_Panel_1 {
  position: absolute;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Panel_1 {
  width: 378px;
  height: 842px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 378px;
  height: 842px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label span#rtr-s-Label_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_1 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_2 {
  position: absolute;
  width: 77px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_2 > .paddingLayer {
  height: 38px;
  width: 60px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_3 {
  position: absolute;
  width: 67px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_3 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Input_3 > .paddingLayer {
  height: 38px;
  width: 50px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_4 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_6 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_7 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_7 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_2 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Browser_1 {
  position: absolute;
  width: 96px;
  height: 86px;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_8 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_8 span {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Browser_2 {
  position: absolute;
  width: 96px;
  height: 86px;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_9 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_9 span {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Browser_3 {
  position: absolute;
  width: 96px;
  height: 86px;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Browser_4 {
  position: absolute;
  width: 96px;
  height: 86px;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_10 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_10 span {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_11 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_11 span {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Category_1 > select {
  background-color: #EFEFEF;
  background-image: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Category_1 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Category_1 {
  position: absolute;
  width: 188px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  vertical-align: middle;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Category_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Category_1 > .paddingLayer {
  height: 38px;
  width: 171px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_12 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_12 span {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_12 span#rtr-s-Label_12_0 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Button-blue > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #6ACCCB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Button-blue {
  position: absolute;
  width: 73px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Button-blue > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Button-blue > .paddingLayer {
  height: 27px;
  width: 65px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Button-blue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Button-blue span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Button-blue span#rtr-s-Button-blue_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Browser_5 {
  position: absolute;
  width: 96px;
  height: 86px;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Browser_6 {
  position: absolute;
  width: 96px;
  height: 86px;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_13 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_13 span {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_13 span#rtr-s-Label_13_0 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_14 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_14 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_14 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_14 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_14 span {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Label_14 span#rtr-s-Label_14_0 {
  color: #25ADA7;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_1 {
  position: absolute;
  width: 152px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_1 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_1 > .paddingLayer {
  height: 8px;
  width: 152px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Top_Bar-3 {
  position: absolute;
  width: 375px;
  height: 113px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #6ACCCB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_6 {
  position: absolute;
  width: 0px;
  height: 113px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_6 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_6 > .paddingLayer {
  height: 112px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_12 {
  position: absolute;
  width: 63px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_12 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_12 > .paddingLayer {
  height: 22px;
  width: 63px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_12 span {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_11 {
  position: absolute;
  width: 210px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_11 > .clipping, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_11 > .paddingLayer {
  height: 42px;
  width: 210px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_11 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Paragraph_11 span#rtr-s-Paragraph_11_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Image_3 {
  position: absolute;
  width: 63px;
  height: 62px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Image_3 > img, #s-9817ea0e-007b-4cef-bb66-aec748210623 #s-Image_3 > svg {
  height: 62px;
  width: 63px;
  box-shadow: none;
}
#s-9817ea0e-007b-4cef-bb66-aec748210623 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}