#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}