#s-a5602292-7d65-4ed2-b700-78da0057a0ec > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Top_Bar-3 {
  position: absolute;
  width: 375px;
  height: 113px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #6ACCCB;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_6 {
  position: absolute;
  width: 0px;
  height: 113px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_6 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_6 > .paddingLayer {
  height: 112px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_11 {
  position: absolute;
  width: 210px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_11 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_11 > .paddingLayer {
  height: 42px;
  width: 210px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_11 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_12 {
  position: absolute;
  width: 63px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_12 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_12 > .paddingLayer {
  height: 22px;
  width: 63px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_12 span {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #007AFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label span#rtr-s-Label_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_3 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_3 span#rtr-s-Label_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_4 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_4 span#rtr-s-Label_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Toggle-on {
  position: absolute;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Panel_15 {
  width: 62px;
  height: 38px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Panel_15 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Panel_15 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Panel_15 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 62px;
  height: 38px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Panel_15 .verticalalign {
  vertical-align: top;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_18 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #4CD864;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_18 {
  position: absolute;
  width: 49px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_18 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_18 > .paddingLayer {
  height: 30px;
  width: 47px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_18 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_11 > .shapert-clipping {
  width: 30px;
  height: 30px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_11 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_11 .content {
  text-shadow: none;
  width: 30px;
  height: 30px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_11 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_11 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Ellipse_11 {
  width: 28px;
  height: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #FFFFFF;
  background-image: none;
  stroke-width: 2px;
  stroke: #47CE5F;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_11 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Panel_16 {
  width: 62px;
  height: 38px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Panel_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Panel_16 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Panel_16 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 62px;
  height: 38px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Panel_16 .verticalalign {
  vertical-align: top;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_19 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_19 {
  position: absolute;
  width: 49px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_19 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_19 > .paddingLayer {
  height: 30px;
  width: 47px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_19 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_12 > .shapert-clipping {
  width: 30px;
  height: 30px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_12 .content {
  text-shadow: none;
  width: 30px;
  height: 30px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_12 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_12 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Ellipse_12 {
  width: 28px;
  height: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: #FFFFFF;
  background-image: none;
  stroke-width: 2px;
  stroke: #D9D9D9;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_5 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_5 span#rtr-s-Label_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Image_3 {
  position: absolute;
  width: 63px;
  height: 62px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Image_3 > img, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Image_3 > svg {
  height: 62px;
  width: 63px;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Category_3 > select {
  background-color: #FFFFFF;
  background-image: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Category_3 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Category_3 {
  position: absolute;
  width: 202px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  vertical-align: middle;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Category_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Category_3 > .paddingLayer {
  height: 38px;
  width: 185px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Category_1 > select {
  background-color: #FFFFFF;
  background-image: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Category_1 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Category_1 {
  position: absolute;
  width: 204px;
  height: 40px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  vertical-align: middle;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Category_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Category_1 > .paddingLayer {
  height: 38px;
  width: 187px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_6 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_6 span#rtr-s-Label_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_7 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Label_7 span#rtr-s-Label_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Group_1 {
  position: absolute;
  width: 28px;
  height: 69px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Input_1 > input {
  left: 0px;
  top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Input_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Input_1 {
  position: absolute;
  box-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Input_2 > input {
  left: 0px;
  top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Input_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Input_2 {
  position: absolute;
  box-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #94E0E4;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue {
  position: absolute;
  width: 146px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue > .paddingLayer {
  height: 36px;
  width: 136px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue span#rtr-s-Button-blue_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Group_2 {
  position: absolute;
  width: 244px;
  height: 161px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #DFF4EE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_1 {
  position: absolute;
  width: 244px;
  height: 161px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_1 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_1 > .paddingLayer {
  height: 159px;
  width: 242px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_2 {
  position: absolute;
  width: 199px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_2 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #6DFD9C;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue_1 {
  position: absolute;
  width: 75px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue_1 > .clipping, #s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue_1 > .paddingLayer {
  height: 28px;
  width: 67px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec #s-Button-blue_1 span#rtr-s-Button-blue_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a5602292-7d65-4ed2-b700-78da0057a0ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}