#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Label {
  -ms-transform: rotate(0.0deg);
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ba77e2b2-425c-40d5-a69e-049a92697086 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}