#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F9F8FC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F9F8FC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F9F8FC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F9F8FC;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 36px;
  width: 136px;
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bc76225e-bbf9-4c6c-82df-a95f798f663d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}