#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Rectangle_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Rich_text_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 28px 28px 28px 28px;
  padding-top: 14px;
  padding-right: 21px;
  padding-bottom: 14px;
  padding-left: 21px;
  height: 47px;
  width: 283px;
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Rich_text_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 28px 28px 28px 28px;
  padding-top: 14px;
  padding-right: 21px;
  padding-bottom: 14px;
  padding-left: 21px;
  height: 47px;
  width: 283px;
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Rich_text_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 28px 28px 28px 28px;
  padding-top: 14px;
  padding-right: 21px;
  padding-bottom: 14px;
  padding-left: 21px;
  height: 47px;
  width: 281px;
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Rich_text_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 28px 28px 28px 28px;
  padding-top: 14px;
  padding-right: 21px;
  padding-bottom: 14px;
  padding-left: 21px;
  height: 47px;
  width: 284px;
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}