#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-dac644fe-9932-480f-a446-493f7d84ca96 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}